@{
    ViewData["Title"] = "Home Page";
}


<div class=" d-flex flex-row " style="margin-top: 100px;">

    <div class="text-left w-50" style="margin-left: 15%;">
        <h1 class="display-4">Hello!</h1>
        <p>I am <a href="https://github.com/SalazarGabrielAngelo-BSIT32E1">Salazar, Gabriel Angelo P.</a></p>
        <p>Currently taking Bachelor of Science in Information Technology</p>
        <p>Third Year Second Semestral Section E1 (32E1)</p>
        <p>In <a href="https://lyceumalabang.edu.ph">Lyceum of Alabang</a></p>
    </div>

    <div class="w-50 pt-5" style="margin-left: 10%;">
        <img src="~/img/Gabriel Angelo Salazar - nobg.png" alt="Alternate Text"  />
    </div>

</div>

<br ><br ><br >
<figure class="text-center">
    <blockquote class="blockquote" style="font-size: 18px;">
        <p>Rules are made to be broken.</p>
    </blockquote>
    <figcaption class="blockquote-footer" style="font-size: 14px; color: black;">
        Galactic Baseballer, <a href="https://www.youtube.com/watch?v=51brMZyIcNk">Source Title.</a>
    </figcaption>
</figure>


<style>
    img {
        width: 220px;
    }

    p {
        font-size: 18px;
    }
</style>