@{
    ViewData["Title"] = "School Page";
}


<div class=" d-flex flex-row " style="margin-top: 100px;">

    <div class="text-left w-50" style="margin-left: 15%;">
        <h1 class="display-4">IT Elective 3 (Fullstack)</h1>
        <p>Schedule of BSIT 32E1</p>
        <p>Every Saturday, 7:00 AM - 10:00 AM</p>
    </div>
</div>


<style>
    p {
        font-size: 18px;
    }
</style>